* {
  box-sizing: border-box;
}

:root {
  --link: #FF63AB;
  --gray: gray;
  --pink: #D87ED4;
  --blue: darkblue;
  --green: darkgreen;
}

body {
  margin: 0;
  padding: 0 4em;
  color: #dedede;
  background-color: #623A77;
  font-family: Roboto, 'Segoe UI', sans-serif;
  word-wrap: break-word;
}

@media screen and (max-width: 800px)
{
  body {padding: 0 4px}
}

header h1, header h2, header h3 {
  font-family: 'Bisque', sans-serif;
  font-weight: 200;
}

a, a:visited {
  color: var(--link);
  transition: .75s;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:active {
  text-decoration: underline;
}

#header {
  text-align: center;
  background-image: url('8bitstars.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header .title {
  text-transform: uppercase;
}

header h1 {
  font-size: 64px;
  font-family: "Neuropol X Lite", sans-serif;
}

header h2 {
  font-size: 32px;
}

header a, header a:visited {
  color: inherit;
}

.yellow { color: #F9EB60 }
.blue   { color: #1BF9D5 }
.purple { color: #D87ED4 }


.post-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.post-list .subtitle {
  font-size: 1.2em;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

.post-list > li {
  width: calc(100% / 3 - 1.5em);
  margin: .5em 0;
  padding: 1em;
  vertical-align: top;
  color: #000;
  background-color: #FFF;
  /* border: 2px solid gray; */
  /* box-shadow: 0 0 5px 1px rgba(200, 80, 70, .7); */
  box-shadow: 0 0 5px rgba(0, 0, 0, .7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1300px)
{
  .post-list > li {
    width: calc(100% / 2 - 1em)
  }
}

@media screen and (max-width: 800px)
{
  .post-list > li {
    width: 100%;
  }
}

.post-list li > a {
  color: inherit;
}

.post-list li > a:hover,
.post-list li > a:active {
  text-decoration: inherit;
}

.post-list li h1 {
  font-family: inherit;
}

.post-list li .post-date {
  font-family: inherit;
}

.post-preview {
  color: #969696;
}

article {
  background-color: white;
  color: black;
  padding: 1em;
}

article header h1 {
	font-family: sans-serif;
	font-size: 2.2em;
}

.post-container {
  display: flex;
}

.author .avatar {
  width: 82px;
  font-size: 10px;
}

.post-content {
  padding: .5em 2em;
  margin: 0 1em;
  border-right: dashed 1px gray;
  background-color: #EDEDED;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: Georgia, serif;
  line-height: 1.3em;
}

.post-content, .post-comments {
  max-width: 72%;
}

@media screen and (max-width: 1100px) {
  .post-container {
    display: block;
  }
  .post-content {
    max-width: 100%;
    border-right: none;
  }
  #post aside {
    margin: 1em;
  }
  .post-comments {
    max-width: 100%;
  }
}

.post-content img {
  margin: 10px;
  max-width: calc(100%);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .666);
}

article header h1 {
  margin: 10px 0;
}

#footer {
  border: 4px groove #FFFFFF;
  border-radius: 4px;
  background-color: #86326D;
}

footer {
  text-align: center;
  margin: 2em 0;
}

#footer .signature,
#footer .social-links,
#footer .links {
  list-style: none;
  padding: 0;
}

#footer .signature li,
#footer .social-links li,
#footer .links li {
  display: inline;
  margin: 0 1em;
}

.iconed::before {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 4px;
  content: '';
  background-size: 100% 100%;
  position: relative;
  top: 4px;
}

.iconed.twitter::before { background-image: url('logo-twitter-black.png') }
.iconed.github::before  { background-image: url('logo-github-black.png') }
.iconed.discord::before { background-image: url('logo-discord-black.png') }
.iconed.web::before { background-image: url('logo-web-black.png') }

pre {
  white-space: pre-wrap;
}

aside {
  position: sticky;
  top: 0;
}

aside h1 {
  font-size: 2em;
  margin: 4px 0;
}

aside .avatar {
  margin: 0 2em 1em 0;
  border-radius: 12px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.666);
}

.button, .button:visited {
  background-color: var(--link);
  color: white;
  padding: .4em 1em;
  border-radius: 32px;
}

.author .author-intro {
  display: flex;
}

.post-thumb:before {
  content: '';
  height: 1em;
  margin: -1em -1em 0;
  color: white;
  text-align: right;
  padding: 0.2em 1em;
  background-color: var(--gray);
}

.post-thumb.weeb:before {
  content: 'weeb';
  background-color: var(--pink);
}

.post-thumb.tech:before {
  content: 'tech';
  background-color: var(--blue);
}

.post-thumb.rhythm-games:before {
  content: 'rhythm games';
  background-color: var(--green);
}

#ornements {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#ornements i {
  background-image: url('ornement-corner.png');
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  height: 110px;
  width: 110px;
}

#ornements .top-right {
  right: 0;
  transform: rotate(90deg);
}

#ornements .bottom-left {
  bottom: 0;
  transform: rotate(-90deg);
}

#ornements .bottom-right {
  bottom: 0;
  right: 0;
transform: rotate(180deg);
