body {
  margin: 0;
  padding: 0 4em;
  color: #dedede;
  background-color: #623A77;
  font-family: Roboto, 'Segoe UI', sans-serif;
  word-wrap: break-word;
}
@media screen and (max-width: 800px) {
  body {padding: 0 4px}
}

h1, h2, h3 {
  font-family: 'Bisque', sans-serif;
  font-weight: 200;
}

a, a:visited {
  color: #FF63AB;
  transition: .75s;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:active {
  text-decoration: underline;
}

header {
  text-align: center;
  background-image: url('8bitstars.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header .title {
  text-transform: uppercase;
}

header h1 {
  font-size: 64px;
  font-family: "Neuropol X Lite", sans-serif;
}

header h2 {
  font-size: 32px;
}

header a, header a:visited {
  color: inherit;
}

main {
  padding: 1em;
  min-height: 200px;
  border-radius: 3px;
  box-shadow: 0 0 8px 3px #BC1261;
  color: #303030;
  background-color: #FDFDFD;
}

.yellow { color: #F9EB60 }
.blue   { color: #1BF9D5 }
.purple { color: #D87ED4 }

nav {
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,.3);
}

nav ul {
  margin: 0 0 5px;
}

nav ul li {
  display: inline;
}
nav ul li::before {
  content: '~ ';
  margin: 0 4px;
}
nav ul li:nth-child(1)::before {
  content: '';
}

nav ul,
.post-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex: 2;
}

.post-list li > a {
  color: inherit;
}
.post-list li > a:hover,
.post-list li > a:active {
  text-decoration: inherit;
}
.post-list li h1 {
  font-family: inherit;
}

.post-list li .post-date {
  font-family: inherit;
}

.post-list .tags {
  list-style: none;
  padding: 0;
}
.post-list .tags::before {
  content: 'Tags : ';
}
.post-list .tags li {
  display: inline;
  margin: 0 5px;
}

.post-list > li {
  display: inline-block;
  flex: 1;
  margin: 1em;
  padding: .5em;
  vertical-align: top;
  border: 2px solid gray;
  box-shadow: 0 0 5px 1px rgba(200, 80, 70, .7);
}

.post-preview {
  color: #969696;
}

article .main-content > * {
  display: inline-block;
  vertical-align: top;
}

article .main-content aside {
  margin: 0 1em;
  width: calc(20% - 4em);
}

article .main-content aside img {
  width: 82px;
  font-size: 10px;
}

article .main-content .post-content {
  padding: .5em 8%;
  margin: 0 1em;
  border-right: dashed 1px gray;
  max-width: 800px;
  background-color: #EDEDED;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: Georgia, serif;
  line-height: 1.3em;
}
@media screen and (max-width: 1500px) {
  article .main-content .post-content {
    display: block;
    border-right: none;
  }
  article .main-content aside {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  article .main-content .post-content {
    margin: 5px 2px;
    padding: 5px 8px;
  }
  main {
    padding: 1em 4px;
  }
}

article .main-content .post-content img {
  margin: 10px;
  max-width: calc(100% - 20px);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .666);
}

article header h1 {
  margin: 10px 0;
}

article header .post-meta {
  margin: 2px 0 6px;
}

.chat-box {
  border: 4px groove #FFFFFF;
  border-radius: 4px;
  background-color: #86326D;
}

footer {
  text-align: center;
  margin: 2em 0;
}

footer .signature,
footer .social-links{
  list-style: none;
  padding: 0;
}

footer .signature li,
footer .social-links li {
  display: inline;
  margin: 0 1em;
}

.iconed:before {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 4px;
  content: '';
  background-size: 100% 100%;
  position: relative;
  top: 4px;
}

.iconed.twitter:before { background-image: url('logo-twitter.png') }
.iconed.github:before  { background-image: url('logo-github.png') }
.iconed.discord:before { background-image: url('logo-discord.png') }

pre {
  white-space: pre-wrap;
}

aside h1 {
  font-size: 2em;
  margin: 4px 0;
}

aside .avatar {
  float: left;
  margin: 0 2em 1em 0;
  border-radius: 12px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.666);
}
