---
layout: default
---

<div class="home">

  {{ content }}

  <!-- <h1 class="page-heading">Posts:</h1> -->
  <ul class="post-list">
    {% for post in site.posts %}
    	<li class="post-thumb {{ post.category }}">
      <div class="content">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {% assign author = site.data.authors[post.author] %}  
        <h2 class="subtitle">{{ post.date | date: date_format }}{% if author %} - {{ author.name }}{% endif %}</h2>
        <h1><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h1>
        <p class="post-preview">{{ post.content | strip_html | truncatewords:75 }}</p>
      </div>
      <p>
        <a class="button" href="{{ post.url | relative_url }}">Read more</a>
      </p>
    </li>
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
