---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="page-heading">Posts:</h1>
  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <a class="post-block" href="{{ post.url | relative_url }}">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <h2 class="post-date">{{ post.date | date: date_format }}</h2>
        <h1>{{ post.title | escape }}</h1>
        <!-- {% if post.picture %}<div class="post-preview" style="background-image: url('{{ post.picture | relative_url }}')"></div>{% endif %} -->
        <p class="post-preview">{{ post.content | strip_html | truncatewords:75 }}</p>
        {% if post.tags %}
        <ul class="tags">
          {% for tag in post.tags %}
          <li>{{ tag }}</li>
          {% endfor %}
        </ul>
        {% endif %}
    </a>
    <p><a href="{{ post.url | relative_url }}">Read more</a></p>
  </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
