---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="main-content">
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
    <aside>
      <h1>Tina</h1>
      <img src="{{ "/i/hibiki.jpg" | relative_url }}" style="display: block" alt="Tina's avatar, a cute anime girl">
      <p>I am an IT student located near Paris.</p>
      <p>I play Japanese arcade rhythm games and I'm fond of the BEMANI series.</p>
      <p>I code stuffs such as games, bots and websites and I like it.</p>
    </aside>
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% else %}
  {% endif %}
</article>
