---
layout: default

---

{% if page.author %}
{% assign author = site.data.authors[page.author] %}
{% endif %}
{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
{% assign date_iso = "%Y-%m-%d" %}
{% assign date_post = page.date | date: date_iso %}
{% assign date_modif = page.last_modified_at | date: date_iso %}

<article id="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 class="title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="meta">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: date_format }}
    </time>
    {% if date_post != date_modif %}
    <time datetime"{{ page.last_modified_at | date_to_xmlschema }}">
      • Modified: {{ page.last_modified_at | date: date_format }}
    </time>
    {% endif %}
    {% if author %}
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      • <span itemprop="name">{{ author.name }}</span>
    </span>
    {% endif %}
    </p>
  </header>

  <div class="main-content">
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
    <aside>
      {% if author %}
      <h1>{{ author.name }}</h1>
      <div class="aside-content">
        <img class="avatar" src="{{ "/assets/authors/" | relative_url }}{{ page.author }}.png" alt="{{ author.name }}'s avatar">
        <p class="description">{{ author.description }}</p>
        <ul class="links">
          {% if author.twitter %}
          <li><a class="iconed twitter" href="https://{{ author.twitter }}">@{{ author.twitter }}</a></li>
          {% endif %}
          {% if author.github %}
          <li><a class="iconed github" href="https://github.com/{{ author.github }}">{{ author.github }}</a></li>
          {% endif %}
          {% if author.discord %}
          <li><span class="iconed discord">{{ author.discord}}</span></li>
          {% endif %}
          {% if author.website %}
          <li><a class="iconed web" href="{{ author.website }}">{{ author.website }}</a></li>
          {% endif %}
      </div>
      {% endif %}
    </aside>
  </div>

  {% if site.disqus.shortname %}
  {% include disqus_comments.html %}
  {% else if site.utterances %}
  <script src="https://utteranc.es/client.js"
    repo="{{ site.utterances.repo }}"
    issue-term="pathname"
    label="comment"
    theme="{{ site.utterances.theme }}"
    crossorigin="anonymous"
    async>
  </script>
  {% endif %}
</article>
